<!DOCTYPE html>

<head>
    <title>Add music</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<!-- SORRY FOR USELESS JS -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>

<script>
	function f() {
	results = $('#submit').serialize();
	$('#url').val("");
	$("#final").append("<br>Submitted to server");
		$.ajax({
			url: '/add/',
			type: 'POST',
			data: results,
			success: function(data, status, something) {
				$("#final").append("<br />" + data.url + " successfully added <a href=\"" + data.link + "\">here</a>")
			},
			error: function(data, status, something) {
				if(status == "200") {
					$("#final").append("<br />" + data.url + " successfully added <a href=\"" + data.link + "\">here</a>")
				} else {
					console.log(data)
					$("#final").append("<br />" + data.responseText)
				}
		}
		})
	}
	$(function() {

	$('#button').click(f)
	})


</script>

<body>
{% include "music_app/header.html" %}
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form id="submit" action=''>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input name="name" id="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="url">Url</label>
                    <input name="url" id="url" class="form-control">
                </div>
                <button id="button" type=button class="btn btn-success">Submit</button>
            </form>
        </div>

        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div id="final"></div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
</body>
