<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse Music</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
{% include "music_app/header.html" %}
<br>
<div class="container">
    <div class="row"><h2>Browse Music</h2></div>
    <br>
    {% for entry in entries %}
    <div class="row">
        <div class="col-xs-1">
            <b>{{ first_num | add:forloop.counter0 }}</b>:
        </div>
        <div class="col">
            <a href="{% url 'get music' musicid=first_num|add:forloop.counter0 %}">{{entry.title }}</a>
        </div>
    </div>
    {% empty %}
    <div class="row">This page is empty.</div>
    {% endfor %}
    <br>
    <div class="row">
        {% if page_num > 1 %}
        <div class="col-auto">
            <a href="{% url 'browse'%}?page={{ page_num|add:-1}}" class="btn btn-outline-primary btn-sm">Previous</a>
        </div>
        {%endif%}
        {% if entries|length == page_length %}
        <div class="col-auto">
            <a href="{% url 'browse'%}?page={{ page_num|add:1}}" class="btn btn-outline-primary btn-sm">Next</a>
        </div>
        {%endif%}
    </div>
</div>
</body>
</html>