<!DOCTYPE html>

<head>
    <title>Song {{ id }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

{% include "music_app/header.html" %}

<br>
<div class="container">
    {%if entry%}
    {% load tz %}
    {% timezone "America/Los_Angeles" %}
    <div class="row">
        <div class="col">
            Submitted by {{entry.added_by}} at {{ entry.date_added|date:"D d M Y" }} {{ entry.date_added|time:"H:i" }}.
        </div>
    </div>
    {% endtimezone %}
    <br>
    <div class="row">
        <iframe id="player" type="text/html" width="640" height="390"
                src="http://www.youtube-nocookie.com/embed/{{entry.link}}?enablejsapi=1&origin=http://{{domain}}&rel=0&playsinline=1"
                frameborder="0"></iframe>
    </div>

    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange,
		'onError': onError
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
  function onPlayerStateChange(event) {
	if (event.data == YT.PlayerState.ENDED) {
	  setTimeout(redirect, 1000);
	}
  }
  function onError(event) {
	setTimeout(redirect, 10000)
  }
  function redirect() {
	  location = "{% url 'get music' musicid=id|add:1 %}"
  }
      function stopVideo() {
        player.stopVideo();
      }


    </script>
    {%else%}
    <div class="row">
        This id doesn't exist!
    </div>
    {%endif%}
    <br>
    <div class="row">
        {% if id != 1 %}
        <div class="col-auto">
            <a href="{% url 'get music' musicid=id|add:-1 %}" class="btn btn-outline-primary btn-sm">Previous</a>
        </div>
        {%endif%}
        {%if entry%}
        <div class="col-auto">
            <a href="{% url 'get music' musicid=id|add:1 %}" class="btn btn-outline-primary btn-sm">Next</a>
        </div>
        {%endif%}
    </div>
    <br>
    <div class="row">
        <div class="col">
            <a href="{% url 'add music' %}" class="btn btn-primary">Add video</a>
        </div>
    </div>
</div>
