{%if entry%}
{% load tz %}
{% timezone "America/Los_Angeles" %}
Submitted by {{entry.added_by}} at {{ entry.date_added|date:"D d M Y" }} {{ entry.date_added|time:"H:i" }}.
{% endtimezone %}
<br>
<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div id="player"></div>
<script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: '{{entry.link}}',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange,
		'onError': onError
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
  function onPlayerStateChange(event) {
	if (event.data == YT.PlayerState.ENDED) {
	  setTimeout(redirect, 1000);
	}
  }
  function onError(event) {
	setTimeout(redirect, 10000)
  }
  function redirect() {
	  location = "/{{id|add:"1"}}"
  }
      function stopVideo() {
        player.stopVideo();
      }







</script>
{%else%}
This id doesn't exist!
{%endif%}
<br>
{% if id != 1 %}
<a href="/{{id|add:-1}}">Previous</a>
{%endif%}
{%if entry%}
<a href="/{{id|add:1}}">Next</a>
{%endif%}
<br>
<a href="/add">Add video</a>


