<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">TelegraMusic</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'get music' musicid=1 %}">First</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'latest' %}">Latest</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'random' %}">Random</a>
            </li>
        </ul>
    </div>
</nav>
